#btnone{
    color: aquamarine;
    background-color: #d41919;
}
#btntwo{
    color: #d41919;
    background-color: #05b21f;
}
.btn{
    text-align: center;
}
.btn2{
    text-align: center;
}